* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    height: 100vh;
    background: url(_PIP7167.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 40px 30px;
    width: 320px;
    color: white;
    text-align: center;
}

.logo-login {
    max-width: 120px;
    margin-bottom: 20px;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.2));
    border-radius: 50%;
    
}

.login-form h2 {
    margin-bottom: 25px;
    font-weight: 600;
}

.input-group {
    text-align: left;
    margin-bottom: 20px;
}

.input-group label {
    font-size: 0.9em;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.2);
    color: white;
    border-radius: 8px;
    font-size: 1em;
}

.input-group input::placeholder {
    color: rgba(255,255,255,0.7);
}

button {
    width: 100%;
    padding: 12px;
    background: rgba(255,255,255,0.3);
    border: none;
    border-radius: 8px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background: rgba(255,255,255,0.5);
}

.toast-error {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #dc3545;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    font-size: 0.95rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    z-index: 9999;
    opacity: 0.95;
    animation: fadeOut 1s ease-out 1s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

.toast-error {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #dc3545;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1000;
}
.background-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* oscurecer */
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* permite hacer clics como si no estuviera */
}

.background-overlay.active {
    opacity: 1;
}
.login-container {
    position: relative;
    z-index: 2; /* por encima de overlay */
}
